# Indexing

In [1]:
import pandas as pd

In [15]:
oo = pd.read_csv('M:/python/Python_Course_DS_beginners/Day-2/data/olympics.csv',skiprows=4)
oo.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

## Index

In [3]:
type(oo.index)

pandas.core.indexes.range.RangeIndex

In [4]:
oo.index[100]

100

In [5]:
oo.index[100] = 5

TypeError: Index does not support mutable operations

## set_index()

In [23]:
oo.head()

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
0,"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
1,"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
2,"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
3,"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
4,"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver

In [9]:
oo.set_index('Athlete')

KeyError: 'Athlete'

In [25]:
oo.head()

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
0,"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
1,"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
2,"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
3,"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
4,"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver

In [12]:
oo.set_index('Athlete',inplace=False)

KeyError: 'Athlete'

In [27]:
oo.head()

,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,
"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver

In [28]:
oo.reset_index(inplace=True)

In [38]:
ath = oo.set_index('Athlete')
ath.head()

,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,
"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver

## reset_index()

In [39]:
ath.head()

,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,
"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver

In [40]:
ath.reset_index(inplace=True)
ath.head()

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
0,"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
1,"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
2,"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
3,"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
4,"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver

## sort_index()

In [42]:
ath.head()

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
0,"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
1,"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
2,"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
3,"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
4,"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver

In [43]:
ath.set_index('Athlete',inplace=True)
ath.head()

,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,
"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver

In [45]:
ath.sort_index(inplace=True,ascending=False)
ath.head()

,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,
"ÖSTRAND, Per-Olof",Helsinki,1952,Aquatics,Swimming,SWE,Men,400m freestyle,M,Bronze
"ÖSTMO, Ole",Paris,1900,Shooting,Shooting,NOR,Men,"army rifle, 300m, 3 positions",M,Bronze
"ÖSTMO, Ole",Paris,1900,Shooting,Shooting,NOR,Men,"free rifle, team",M,Silver
"ÖSTMO, Ole",Paris,1900,Shooting,Shooting,NOR,Men,"army rifle, 300m, standing",M,Silver
"ÖSTMO, Ole",Paris,1900,Shooting,Shooting,NOR,Men,"army rifle, 300m, prone",M,Bronze

In [ ]:
pd.read_csv()

## loc[...]

In [23]:
oo.loc['HAJOS, Alfred']

KeyError: 'the label [HAJOS, Alfred] is not in the [index]'

In [47]:
oo.head()

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
0,"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
1,"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
2,"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
3,"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
4,"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver

In [24]:
oo.set_index('Athlete',inplace=True)

In [25]:
oo.loc['BOLT, Usain']

,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,
"BOLT, Usain",Beijing,2008,Athletics,Athletics,JAM,Men,100m,M,Gold
"BOLT, Usain",Beijing,2008,Athletics,Athletics,JAM,Men,200m,M,Gold
"BOLT, Usain",Beijing,2008,Athletics,Athletics,JAM,Men,4x100m relay,M,Gold

In [26]:
oo.reset_index(inplace=True)

In [27]:
oo.head()

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
0,"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
1,"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
2,"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
3,"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
4,"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver

In [30]:
oo.loc[oo.City == 'Beijing']

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
27174,"GALPERIN, Gleb",Beijing,2008,Aquatics,Diving,RUS,Men,10m platform,M,Bronze
27175,"MITCHAM, Matthew",Beijing,2008,Aquatics,Diving,AUS,Men,10m platform,M,Gold
27176,"ZHOU, Luxin",Beijing,2008,Aquatics,Diving,CHN,Men,10m platform,M,Silver
27177,"WANG, Xin",Beijing,2008,Aquatics,Diving,CHN,Women,10m platform,W,Bronze
27178,"CHEN, Ruolin",Beijing,2008,Aquatics,Diving,CHN,Women,10m platform,W,Gold
27179,"HEYMANS, Emilie",Beijing,2008,Aquatics,Diving,CAN,Women,10m platform,W,Silver
27180,"QIN, Kai",Beijing,2008,Aquatics,Diving,CHN,Men,3m springboard,M,Bronze
27181,"HE, Chong",Beijing,2008,Aquatics,Diving,CHN,Men,3m springboard,M,Gold
27182,"DESPATIE, Alexandre",Beijing,2008,Aquatics,Diving,CAN,Men,3m springboard,M,Silver
27183,"WU, Minxia",Beijing,2008,Aquatics,Diving,CHN,Women,3m springboard,W,Bronze
27184,"GUO, Jingjing",Beijing,2008,Aquatics,Diving,CHN,Women,3m springboard,W,Gold
27185,"PAKHALINA, Julia",Beijing,2008,Aquatics,Diving,RUS,Women,3m springboard,W,Silver
27186,"DOBROSKOK, Dmitriy",Beijing,2008,Aquatics,Diving,RUS,Men,synchronized diving 10m platform,M,Bronze
27187,"GALPERIN, Gleb",Beijing,2008,Aquatics,Diving,RUS,Men,synchronized diving 10m platform,M,Bronze
27188,"HUO, Liang",Beijing,2008,Aquatics,Diving,CHN,Men,synchronized diving 10m platform,M,Gold
27189,"LIN, Yue",Beijing,2008,Aquatics,Diving,CHN,Men,synchronized diving 10m platform,M,Gold
27190,"HAUSDING, Patrick",Beijing,2008,Aquatics,Diving,GER,Men,synchronized diving 10m platform,M,Silver
27191,"KLEIN, Sascha",Beijing,2008,Aquatics,Diving,GER,Men,synchronized diving 10m platform,M,Silver
27192,"ESPINOSA, Paola",Beijing,2008,Aquatics,Diving,MEX,Women,synchronized diving 10m platform,W,Bronze
27193,"ORTIZ, Tatiana",Beijing,2008,Aquatics,Diving,MEX,Women,synchronized diving 10m platform,W,Bronze
27194,"CHEN, Ruolin",Beijing,2008,Aquatics,Diving,CHN,Women,synchronized diving 10m platform,W,Gold
27195,"WANG, Xin",Beijing,2008,Aquatics,Diving,CHN,Women,synchronized diving 10m platform,W,Gold
27196,"COLE, Briony",Beijing,2008,Aquatics,Diving,AUS,Women,synchronized diving 10m platform,W,Silver
27197,"WU, Melissa",Beijing,2008,Aquatics,Diving,AUS,Women,synchronized diving 10m platform,W,Silver
27198,"KVASHA, Illya",Beijing,2008,Aquatics,Diving,UKR,Men,synchronized diving 3m springboard,M,Bronze
27199,"PRYGOROV, Oleksiy",Beijing,2008,Aquatics,Diving,UKR,Men,synchronized diving 3m springboard,M,Bronze
27200,"QIN, Kai",Beijing,2008,Aquatics,Diving,CHN,Men,synchronized diving 3m springboard,M,Gold
27201,"WANG, Feng",Beijing,2008,Aquatics,Diving,CHN,Men,synchronized diving 3m springboard,M,Gold
27202,"KUNAKOV, Yuriy",Beijing,2008,Aquatics,Diving,RUS,Men,synchronized diving 3m springboard,M,Silver
27203,"SAUTIN, Dmitry",Beijing,2008,Aquatics,Diving,RUS,Men,synchronized diving 3m springboard,M,Silver
...,...,...,...,...,...,...,...,...,...,...
29186,"MUTALIMOV, Marid",Beijing,2008,Wrestling,Wrestling Free.,KAZ,Men,96 - 120kg,M,Bronze
29187,"TAYMAZOV, Artur",Beijing,2008,Wrestling,Wrestling Free.,UZB,Men,96 - 120kg,M,Gold
29188,"AKHMEDOV, Bakhtiyar",Beijing,2008,Wrestling,Wrestling Free.,RUS,Men,96 - 120kg,M,Silver
29189,"AMOYAN, Roman",Beijing,2008,Wrestling,Wrestling Gre-R,ARM,Men,- 55kg,M,Bronze
29190,"PARK, Eun-Chul",Beijing,2008,Wrestling,Wrestling Gre-R,KOR,Men,- 55kg,M,Bronze
29191,"MANKIEV, Nazyr",Beijing,2008,Wrestling,Wrestling Gre-R,RUS,Men,- 55kg,M,Gold
29192,"BAYRAMOV, Rovshan",Beijing,2008,Wrestling,Wrestling Gre-R,AZE,Men,- 55kg,M,Silver
29193,"TENGIZBAYEV, Nurbakyt",Beijing,2008,Wrestling,Wrestling Gre-R,KAZ,Men,55 - 60kg,M,Bronze
29194,"TIUMENBAEV, Ruslan",Beijing,2008,Wrestling,Wrestling Gre-R,KGZ,Men,55 - 60kg,M,Bronze
29195,"ALBIEV, Islam-Beka",Beijing,2008,Wrestling,Wrestling Gre-R,RUS,Men,55 - 60kg,M,Gold
29196,"RAHIMOV, Vitaliy",Beijing,2008,Wrestling,Wrestling Gre-R,AZE,Men,55 - 60kg,M,Silver
29197,"SIAMIONAU, Mikhail",Beijing,2008,Wrestling,Wrestling Gre-R,BLR,Men,60 - 66kg,M,Bronze
29198,"VARDANYAN, Armen",Beijing,2008,Wrestling,Wrestling Gre-R,UKR,Men,60 - 66kg,M,Bronze
29199,"GUENOT, Steeve",Beijing,2008,Wrestling,Wrestling Gre-R,FRA,Men,60 - 66kg,M,Gold
29200,"BEGALIEV, Kanatbek",Beijing,2008,Wrestling,Wrestling Gre-R,KGZ,Men,60 - 66kg,M,Silver
29201,"GUENOT, Christophe",Beijing,2008,Wrestling,Wrestling Gre-R,FRA,Men,66 - 74kg,M,Bronze
29202,"YANAKIEV, Yavor",Beijing,2008,Wrestling,Wrestling Gre-R,BUL,Men,66 - 74kg,M,Bronze
29203,"KVIRKELIA, Manuchar",Beijing,2008,Wrestling,Wrestling Gre-R,GEO,Men,66 - 74kg,M,Gold
29204,"CHANG, Yongxiang",Beijing,2008,Wrestling,Wrestling Gre-R,CHN,Men,66 - 74kg,M,Silver
29205,"AVLUCA, Nazmi",Beijing,2008,Wrestling,Wrestling Gre-R,TUR,Men,74 - 84kg,M,Bronze
29206,"MINGUZZI, Andrea",Beijing,2008,Wrestling,Wrestling Gre-R,ITA,Men,74 - 84kg,M,Gold
29207,"FODOR, Zoltan",Beijing,2008,Wrestling,Wrestling Gre-R,HUN,Men,74 - 84kg,M,Silver
29208,"MAMBETOV, Asset",Beijing,2008,Wrestling,Wrestling Gre-R,KAZ,Men,84 - 96kg,M,Bronze
29209,"WHEELER, Adam",Beijing,2008,Wrestling,Wrestling Gre-R,USA,Men,84 - 96kg,M,Bronze
29210,"KHUSHTOV, Aslanbek",Beijing,2008,Wrestling,Wrestling Gre-R,RUS,Men,84 - 96kg,M,Gold
29211,"ENGLICH, Mirko",Beijing,2008,Wrestling,Wrestling Gre-R,GER,Men,84 - 96kg,M,Silver
29212,"MIZGAITIS, Mindaugas",Beijing,2008,Wrestling,Wrestling Gre-R,LTU,Men,96 - 120kg,M,Bronze
29213,"PATRIKEEV, Yuri",Beijing,2008,Wrestling,Wrestling Gre-R,ARM,Men,96 - 120kg,M,Bronze
29214,"LOPEZ, Mijain",Beijing,2008,Wrestling,Wrestling Gre-R,CUB,Men,96 - 120kg,M,Gold
29215,"BAROEV, Khasan",Beijing,2008,Wrestling,Wrestling Gre-R,RUS,Men,96 - 120kg,M,Silver

## iloc[...]

In [54]:
oo.head()

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
0,"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
1,"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
2,"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
3,"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
4,"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver

In [32]:
type(oo.iloc[1])

pandas.core.series.Series

In [33]:
oo.iloc[[1542, 2390,6000,15000]]

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
1542,"DUCKETT, Richard Louis",London,1908,Lacrosse,Lacrosse,CAN,Men,lacrosse,M,Gold
2390,"SAASTAMOINEN, Eino",Stockholm,1912,Gymnastics,Artistic G.,FIN,Men,"team, free system",M,Silver
6000,"AGOSTONI, Carlo",Los Angeles,1932,Fencing,Fencing,ITA,Men,épée individual,M,Bronze
15000,"JENSEN, Poul Richard Hoj",Montreal,1976,Sailing,Sailing,DEN,Men,fleet/match race keelboat open (Soling),X,Gold

In [57]:
oo.head()

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
0,"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
1,"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
2,"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
3,"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
4,"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver

In [35]:
oo.iloc[1:10:2]

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
1,"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
3,"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
5,"CHOROPHAS, Efstathios",Athens,1896,Aquatics,Swimming,GRE,Men,1200m freestyle,M,Bronze
7,"ANDREOU, Joannis",Athens,1896,Aquatics,Swimming,GRE,Men,1200m freestyle,M,Silver
9,"NEUMANN, Paul",Athens,1896,Aquatics,Swimming,AUT,Men,400m freestyle,M,Gold