In [2]:
import numpy as np
import pandas as pd

In [89]:
df = pd.read_csv("Train_Vehicletravellingdata.csv")
df = df.loc[(df.ID == 'DR_24526') | (df.ID == 'DR_30052')]
# Group df by df.V4, then apply a interval_add_series function
df.groupby('ID')['V4'].apply(lambda x: interval_add_series(x, 2))

ID
DR_24526    150
DR_30052    150
Name: V4, dtype: int64

In [84]:
# function adds the two numbers which are separated by a defined interval in series. 
# first number is the last number in the dataset 
# second number is the number at the said interval
def interval_add_series(Series, interval = 2):
    Series = df.V4
    nelem = len(Series) - 1
    value = Series[[nelem, (nelem - interval)]]
    return value.sum()

In [42]:
interval_add(df, "V4", interval = 2)

184

In [59]:
def interval_add(interval = 2):
    len()

,ID,V1,V3,V4,V7,V8,V9,V10,V11,V18
0,DR_24526,2012-03-21 09:14:55,1,81,57227,87,16986,941,94.0,Dry
1,DR_24526,2012-03-21 09:15:07,1,88,57229,81,1708,551,11.0,Dry
2,DR_24526,2012-03-21 09:15:12,1,88,57230,88,22892,1698,4.0,Dry
3,DR_24526,2012-03-21 09:15:48,2,84,57228,89,1945,544,127.0,Dry
4,DR_24526,2012-03-21 09:15:54,1,89,57231,88,13787,1893,42.0,Dry
5,DR_24526,2012-03-21 09:16:19,2,91,57232,84,2637,586,30.0,Dry
6,DR_24526,2012-03-21 09:16:25,2,92,57234,91,10243,1265,4.0,Dry
7,DR_24526,2012-03-21 09:16:28,2,90,57235,92,10915,1247,2.0,Dry
8,DR_24526,2012-03-21 09:17:16,2,92,57236,90,1316,456,47.0,Dry
9,DR_24526,2012-03-21 09:17:48,2,84,57237,92,2489,517,31.0,Dry
10,DR_24526,2012-03-21 09:18:36,2,91,57238,84,1555,524,47.0,Dry
11,DR_24526,2012-03-21 09:18:46,2,85,57239,91,1408,459,9.0,Dry
12,DR_24526,2012-03-21 09:19:03,2,91,57240,85,2311,531,17.0,Dry
13,DR_24526,2012-03-21 09:20:19,2,81,57241,91,1747,522,75.0,Dry
14,DR_24526,2012-03-21 09:20:45,2,85,57242,81,17122,1953,24.0,Dry
15,DR_24526,2012-03-21 09:21:15,2,87,57243,85,11898,1237,30.0,Dry
16,DR_24526,2012-03-21 09:23:57,2,102,57244,87,12375,1228,160.0,Dry
17,DR_24526,2012-03-21 09:24:46,1,79,57233,89,911,487,531.0,Dry
18,DR_24526,2012-03-21 09:24:51,1,82,57246,79,26187,1705,4.0,Dry
19,DR_30052,2012-03-21 09:30:25,1,79,57249,90,2018,538,36.0,Dry
20,DR_30052,2012-03-21 09:31:06,1,81,57250,79,374,428,40.0,Dry
21,DR_30052,2012-03-21 09:32:07,2,86,57245,102,1842,545,490.0,Dry
22,DR_30052,2012-03-21 09:34:24,1,83,57251,81,1176,518,198.0,Dry
23,DR_30052,2012-03-21 09:34:47,1,81,57253,83,30871,1680,22.0,Dry
24,DR_30052,2012-03-21 09:37:22,2,88,57252,86,2135,1112,313.0,Dry
25,DR_30052,2012-03-21 09:38:27,1,88,57254,81,1429,543,219.0,Dry
26,DR_30052,2012-03-21 09:38:51,2,91,57255,88,14764,1689,88.0,Dry
27,DR_30052,2012-03-21 09:38:52,1,71,57256,88,17361,1929,23.0,Dry
28,DR_30052,2012-03-21 09:39:03,2,78,57257,91,2105,637,12.0,Dry
29,DR_30052,2012-03-21 09:40:25,2,79,57259,78,1682,508,81.0,Dry

In [79]:
Series = df.V4
nelem = len(Series) - 1
value = Series[[nelem, (nelem - interval)]]
value.sum()

170

In [82]:
79 + 91

170